<section>
    <a href="/">
        <div id='logo'>
            <img src="../../assets/smart_admin_logo_small_white.png" alt="logo resumida da smart admin">
            <div id="hometext">Ir para Home</div>
        </div>
    </a>
    <div id='menu'>
        <a href="/carteira">
            <div>
                Carteira
            </div>
        </a>
        <a href="/vendas">
            <div>
                Vendas
            </div>
        </a>
        <a href="/propostas/29048419000103">
            <div>
                Propostas
            </div>
        </a>
        <a href="/relatorios">
            <div>
                Relatórios
            </div>
        </a>
    </div>
</section>