section{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgba($color: white, $alpha: 0.7);
    box-shadow: 0 0 10px 0 grey;
    backdrop-filter: blur(10px);
    padding: 10px 35px;
    z-index: 1;
}

a{
    display: flex;
    width: auto;
}

#logo{
    background-color: black;
    padding: 7px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    transition: all .1s;
}
img{
    transition: all .2s;
    height: 30px;
}
#logo:hover{
    width: auto;
    border-radius: 10px;
}
#logo:hover img{
    transform: rotate(90deg);
}
#logo:hover #hometext{
    color: white;
}

#hometext{
    margin-left: 20px;
    color: transparent;
}

#menu{
    display: flex;
}

#menu div{
    padding: 5px 25px;
    background-color: #da291c;
    color: white;
    line-height: 250%;
    transition: all .1s;
}

#menu div:hover{
    background-color: black;
}