section{
    display: flex;
    justify-content: space-between;
    padding: 35vh 35px;
    background-color: black;
    color: white;
    height: 30vh;
}

#data div:nth-child(3){
    margin-top: 25px;
}

#sitemap{
    color: gray;
}