section{
    width: auto;
    height: auto;
    padding: 50px 5%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    color: white;
}
section #title{
    width: 70%;
    font-size: 50px;
}
section #pannels{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
section #pannels #options{
    display: flex;
}
section #pannels #options div{
    padding: 10px;
    transition: all .1s;
    cursor: pointer;
}
section #pannels #options div:hover{
    background-color: #da291c;
}

section form{
    height: auto;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
}
section form div{
    display: flex;
    flex-direction: column;
}
section form label{
    margin-bottom: 5px;
}
section form input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
}
button{
    height: 50px;
    width: 100%;
    border: none;
    background-color: lightgray;
    font-weight: bold;
    transition: all .1s;
}
section button:hover{
    color: white;
    background-color: #da291c;
}

#results{
    background-color: transparent;
    backdrop-filter: none;
    padding: 0;
    margin-top: 25px;

    height: 75vh;
    overflow-y: scroll;
}

.sale{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    background-color: white;
    padding: 25px;
    margin: 10px 0;
    color: black;
}
.sale div:nth-child(1) { grid-area: 1 / 1 / 2 / 2; text-align: left;}
.sale div:nth-child(2) { grid-area: 1 / 2 / 2 / 3; text-align: left;}
.sale div:nth-child(3) { grid-area: 1 / 3 / 2 / 4; text-align: center;}
.sale div:nth-child(4) { grid-area: 1 / 4 / 2 / 5; text-align: center;}
.sale div:nth-child(5) { grid-area: 1 / 5 / 2 / 6; text-align: center;}
.sale div:nth-child(6) { grid-area: 1 / 6 / 2 / 7; text-align: right;}
.sale div:nth-child(7) { grid-area: 1 / 7 / 2 / 8; text-align: right;}
.show-button{
    font-size: 40px;
}
.sale div:nth-child(7):hover{
    cursor: pointer;
}
.sale:nth-child(1){
    position: sticky;
    top: 0;
    margin-top: 0;
    background-color: rgba($color: #000000, $alpha: 0.7);
    backdrop-filter: blur(10px);
    color: white;
}

div{
    transition: all .2s;
}
.showing{
    height: auto;
    padding: 70px 0;
}
.hidden{
    height: 0px;
    padding: 0;
    overflow: hidden;
}

.sing form{
    display: flex;
    justify-content: space-between;
}
#client_data,#contact_data,#items_data{
    display: flex;
    flex-direction: column;
}
#client_data,#contact_data{
    width: 25%;
}
#items_data{
    width: 45%;
}

div.subtitle{
    font-weight: bold;
    margin-bottom: 25px;
}

#client_data div,#contact_data div,#items_data{
    padding: 20px 0;
}
#new_client, #new_person_check{
    width: 20px;
}

#items_data .itemtitle,#items_data .items,#items_data .item, #items_data .item-data, #items_data .total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item{
    padding: 10px 0;
    color: lightgray;
    text-align: left;
}
.item input{
    border-bottom: none !important;
}
.totalSubprice{
    display: none;
}
.total{
    border-top: 1px solid black;
    margin: 15px 0;
    padding: 10px 0;
}


.detailsbox{
    position: fixed;
    top: 45%;
    left: 10%;
    width: 80%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    backdrop-filter: blur(10px);
    z-index: 1;
    padding: 0;
    transition: all .1s;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    color: white;
}
.detailsbox .closer{
    cursor: pointer;
}
.detailsbox .details-title{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 20px 20px 0 20px;
}
.detailsbox .details{
    padding: 20px;
}
.detailsbox .details:nth-child(2){
    margin-top: 30px;
}
.details{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
}
.details div:nth-child(1) { grid-area: 1 / 1 / 2 / 2; text-align: left;}
.details div:nth-child(2) { grid-area: 1 / 2 / 2 / 3; text-align: left;}
.details div:nth-child(3) { grid-area: 1 / 3 / 2 / 4; text-align: center;}
.details div:nth-child(4) { grid-area: 1 / 4 / 2 / 5; text-align: center;}
.details div:nth-child(5) { grid-area: 1 / 5 / 2 / 6; text-align: center;}
.details div:nth-child(6) { grid-area: 1 / 6 / 2 / 7; text-align: center;}
.details div:nth-child(7) { grid-area: 1 / 7 / 2 / 8; text-align: center;}
.details div:nth-child(8) { grid-area: 1 / 8 / 2 / 9; text-align: center;}
.details div:nth-child(9) { grid-area: 1 / 9 / 2 / 10; text-align: center;}
.details div:nth-child(10) { grid-area: 1 / 10 / 2 / 11; text-align: right;}
.details:not(:nth-child(2)){
    border-top: 1px solid white;
}

.detailsbox button{
    cursor: pointer;
}
.detailsbox select{
    width: 100%;
}
.details:nth-child(4) {
    display: flex;
    justify-content: space-between;
}
.details:nth-child(4) div:nth-child(2){
    width: 80%;
}