section{
    width: auto;
    height: auto;
    padding: 50px 5%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
}
section #title{
    width: 70%;
    color: white;
    font-size: 50px;
    margin-bottom: 50px;
}

#plans-generator{
    padding: 0;
    background-color: transparent;
    backdrop-filter: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#plans{
    width: 35%;
    height: 600px;
    padding: 0;
    overflow-y: scroll;
    background-color: white;
    font-size: 12px;
}
.subtitle{
    background-color: rgba($color: #000000, $alpha: 0.7);
    backdrop-filter: blur(10px);
    color: white;
    font-size: 20px;
    padding: 20px 10px;
}
#plans .plan:nth-child(2){
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: rgba($color: #000000, $alpha: 0.7);
    backdrop-filter: blur(10px);
    color: white;
}
.plan{
    display: grid;
    grid-template-columns: 5fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.plan div{
    padding: 10px;
}
.plan div:nth-child(1) { grid-area: 1 / 1 / 2 / 2; text-align: left; }
.plan div:nth-child(2) { grid-area: 1 / 2 / 2 / 3; text-align: center; border-right: 1px solid black; border-left: 1px solid black }
.plan:nth-child(2) div:nth-child(1) {  padding: 0;}
.plan:nth-child(2) div:nth-child(2) { border-right: none; border-left: none; padding: 0; }
.plan:nth-child(2) div:nth-child(3) {  padding: 0;}
.plan div:nth-child(3) { grid-area: 1 / 3 / 2 / 4; text-align: center; }

.plan:hover{
    background-color: lightgray;
}

#generator{
    width: 60%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.total, .linetitle{
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.total div:nth-child(1), .linetitle div:nth-child(1) { grid-area: 1 / 2 / 2 / 3; }
.total div:nth-child(2), .linetitle div:nth-child(2) { grid-area: 1 / 3 / 2 / 4; }
.total div:nth-child(3), .linetitle div:nth-child(3) { grid-area: 1 / 4 / 2 / 5; }
.total div:nth-child(4), .linetitle div:nth-child(4) { grid-area: 1 / 5 / 2 / 6; }
.total div:nth-child(3) { background-color: lightgreen; }
.total div:nth-child(4) { background-color: lightgreen; }
.total div, .linetitle div{
    padding: 10px 20px;
    text-align: left;
}